body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

.yt-logo {
  width: 100px;
  display: block;
  margin: 1rem auto;
}
